<div class="modal-header">
  <h5 class="modal-title">Upload File</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="ui form">
    <%= form_with(model: folder, url: folder_files_path, method: "patch") do |form| %>
      <% if folder.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(folder.errors.count, "error") %> prohibited this folder from being saved:</h2>

          <ul>
          <% folder.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.file_field :files, multiple: true %><br>
      </div>

      <div class="actions">
        <%= form.submit "Upload" %>
      </div>
    <% end %>
  </div>
</div>
