<!DOCTYPE html>
<html>
  <head>
    <title>Simple Docs</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>
    <div class="modal" id="modal-window" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
      </div>
    </div>
    <div id="app_container" class="ui container">
      <header>
        <%= render "shared/nav" %>

        <% if !user_signed_in? %>
          <h1>Welcome to SimpleDocs!</h1>
        <% end %>

        <div>
          <% flash.each do |name, msg| -%>
            <%= content_tag :div, msg, class: name %>
          <% end -%>
        </div>
      </header>

      <%= yield %>

      <%= redux_store_hydration_data %>

      <% console %>
    </div>
  </body>
</html>
